* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* Navbar */

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #242323;
  overflow-x: hidden;
}

.sidenav h2 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.sidenav a {
  background: #646464;
  width: 100%;
  color: white;
  display: flex;
  padding: 20px 0 20px 50px;
  text-decoration: none;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}

.icon img {
  position: absolute;
  width: 16px;
  margin: 18px;
}

.centralized {
  width: 80%;
  float: right;
}

.container-dashboard {
  display: flex;
  justify-content: center;
}

.my-jobs {
  margin-right: 40px;
}

.scheduled-interview {
  margin-left: 20px;
}

.my-jobs,
.scheduled-interview {
  width: 370px;
  height: 117px;
  background: white;
  margin-top: 76px;
}

.my-jobs h3,
.scheduled-interview h3 {
  font-size: 15px;
  color: gray;
  padding: 20px 0 0 20px;
}

.my-jobs p,
.scheduled-interview p {
  margin-top: 36px;
  width: 130px;
  float: left;
  font-weight: 400;
  font-size: 20px;
  padding-left: 20px;
}

.my-jobs img,
.scheduled-interview img {
  width: 130px;
  padding-right: 20px;
}

/* AddJob Form */

form input {
  border: none;
  padding: 5px 0;
  display: flex;
  font-size: 18px;
  width: 535px;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
  margin-top: 10px;
}

.input-label {
  font-size: 14px;
  line-height: 30px;
}

.new-job {
  background: white;
  max-width: 600px;
  margin: 76px auto;
  padding: 30px;
  overflow: auto;
}

.add-btn {
  background: #242323;
  color: white !important;
  width: 200px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  float: right;
  margin-top: 30px;
  display: inherit;
  cursor: pointer;
}
