.App {
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #242323;
  overflow-x: hidden;
  padding-top: 30px;
}

.sidenav h2 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.sidenav a {
  background: #646464;
  width: 100%;
  color: white;
  display: flex;
  padding: 20px 0 20px 50px;
  text-decoration: none;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}
