/* GLOBAL CLASSES */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

a {
  color: #242323;
  text-decoration: none;
}

a:hover {
  background-color: #016c5a !important;
  color: white !important;
}

.page {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  height: 100vh;
  grid-template-areas: 'sidebar main';
}

.main {
  grid-area: main;
}

.main-single {
  grid-area: main;
}

/* LOGIN PAGE */

.login-container {
  background: url(images/initial-img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* vertical-align: middle; */
  width: 100vw;
  height: 100vh;
  /* margin: 0 auto; */
  display: table-cell;
  vertical-align: middle;
}

.logo {
  width: 40%;
  margin: 0 auto;
  display: block;
}

.signin {
  background: white;
  width: 40%;
  float: right;
  margin-right: 60px;
  padding-bottom: 100px;
  align-content: center;
  padding: 70px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
}

.signin h3 {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

.title {
  font-weight: 600;
  text-align: center;
  font-size: 24px;
}

.description p {
  font-weight: 100;
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 22px;
  text-align: center;
}

.username-form {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

.username-form input {
  border: none;
  border-bottom: 1px solid;
  width: 300px;
  line-height: 40px;
}

.signup-btn,
#google-btn {
  display: flex !important;
  justify-content: center;
  margin: 0 auto;
}

#google-btn {
  margin-top: 20px;
}

.signup-btn {
  background: #242323 !important;
  margin-top: 15px;
}

.enter-btn,
.signin-btn,
.signup-btn,
#google-btn {
  background: #016c5a;
  cursor: pointer;
  color: white !important;
  width: 300px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
}

.signin-buttons {
  text-align: center;
  margin-top: 50px;
}

.separate {
  display: flex;
  justify-content: center;
  color: #d3d3d3;
  margin: 40px 0;
}

.line-left,
.line-right {
  width: 125px;
  height: 1px;
  margin-top: 8px;
  background: #d3d3d3;
}

.line-left {
  margin-right: 17px;
}

.line-right {
  margin-left: 17px;
}

/* SIDEBAR */

.sidebar {
  grid-area: sidebar;
  background-color: #242323;
  /* height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; */
  /* overflow-x: hidden; */
}

.sidebar h2 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.sidebar a {
  background: #646464;
  width: 100%;
  color: white;
  display: flex;
  padding: 20px 0 20px 50px;
  text-decoration: none;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}

.icon img {
  position: absolute;
  width: 16px;
  margin: 18px;
}

/* DASHBOARD COMPONENT */

.container-dashboard {
  margin: 70px;
}

.hello-container {
  margin-right: 40px;
  width: 100%;
}

.chart-container {
  width: 100%;
  background: white;
  margin-top: 40px;
  padding: 20px;
}

.tab-container {
  background: white;
  padding: 20px;
  margin-top: 46px;
}

.tab-content {
  margin-top: 40px;
}

.total-researching svg {
  width: 100%;
  margin: 0 auto;
}

.nothing-inside h4 {
  text-align: center;
  font-weight: 400;
  color: gray;
  margin-bottom: 30px;
}
.nothing-inside button {
  background: #016c5a;
  margin: 0 auto;
  float: none;
}

/* FORMS */

.login-form,
.add-job-form,
.update-job-form,
.view-form,
.add-todo {
  border: none;
  padding: 5px 0;
  display: grid;
  line-height: 30px;
}

.login-form input,
.update-job-form input,
.update-job-form select,
.add-job-form input,
.add-job-form select {
  padding: 10px;
  height: 35px;
  margin-bottom: 15px;
  width: 100%;
}

.new-job,
.job-container,
.todos-container,
.chart-container,
.tab-container {
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
}

.tab-container a {
  width: 150px !important;
  text-align: center !important;
}
.new-job {
  margin: 83px 50% 0 70px;
}

.job-container {
  width: 50%;
  margin: 83px 70px 0 70px;
}

.todos-container {
  margin: 60px 70px 100px 70px;
}

.input-label {
  padding-left: 10px;
  margin-bottom: 15px;
}

.add-todo-h2 {
  margin: 0 0 40px 0;
}

.date-picker {
  display: flex;
  margin-bottom: 20px;
  background-color: white;
}

.react-date-picker__button {
  border: none !important;
}

.date-picker h4 {
  color: #767676;
  font-size: 14px;
  font-weight: 400;
  padding-left: 13px;
}

.react-date-picker {
  margin-left: 15px;
}

/* BUTTONS */

.save-btn,
.delete-btn,
.add-todo-btn,
.add-job-btn {
  background: #242323;
  color: white !important;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  float: right;
  cursor: pointer;
  display: inherit;
  border-radius: 5px;
  margin-top: 30px;
  width: 150px;
}

.save-btn {
  float: right;
}

.add-job-btn a,
.signup-btn a {
  color: white;
  text-decoration: none;
}

.add-job-btn a:hover,
.signup-btn a:hover {
  text-decoration: none;
  color: white !important;
}

.delete-btn {
  float: left;
}

.add-todo-btn,
.add-todo-btn-short,
.close-btn {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  display: inherit;
  border-radius: 5px;
  padding: 5px;
}

.add-todo-btn {
  width: 100%;
}

.add-todo-btn-short {
  background: #242323;
  color: white !important;
  float: right;
  width: 30px !important;
}

/* YourJobs table */

/* .table-job {
  margin-bottom: 100px;
} */

.rtable {
  width: 100%;
}

.table-job h3,
.new-job h3,
.chart-container h3,
.job-container h3,
.todos-container h3 {
  font-size: 24px;
  color: #242323;
  margin-top: 0;
  margin-bottom: 15px;
}

.todo-flex h3 {
  float: left;
}

.table-job thead {
  text-align: left;
  background: #f5f5f5;
  line-height: 45px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

tbody th,
tbody td {
  padding: 20px 0;
  font-size: 14px;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:last-child {
  border: none;
}

thead th,
thead td,
tbody th,
tbody td {
  padding-left: 20px;
}

#view-btn,
#add-todo {
  background: #242323;
  color: white !important;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}

/* View job */

.react-date-picker__calendar .react-calendar {
  width: 280px;
}
