/* MEDIA QUERIES */

@media screen and (max-width: 860px) {
  /* Login page */
  .signin {
    width: 70%;
    float: none;
    margin: 0 auto !important;
  }

  /* Dashboard */
}

@media screen and (max-width: 500px) {
  /* Login page */
  .username-form {
    text-align: center;
  }

  .username-form input,
  .signin-btn,
  .signup-btn {
    width: 250px;
  }
  .signin {
    min-width: 350px;
  }

  /* Dashboard */
}
